asgiref==3.8.1
backports.zoneinfo==0.2.1
build==1.2.2.post1
click==8.1.7
Django==4.2.15
django-crispy-forms==2.3
djangorestframework==3.11.1
et-xmlfile==1.0.1
importlib_metadata==8.5.0
jdcal==1.4.1
mysqlclient==2.2.4
openpyxl==3.0.5
packaging==24.2
pillow==10.4.0
pyproject_hooks==1.2.0
pytz==2020.1
sqlparse==0.3.1
tomli==2.2.1
typing_extensions==4.12.2
zipp==3.20.2
